/*Site Specific CSS*/

*{} *{} *{}

body {
    background: url('../images/animal.jpg);
    background-position: center top;
    background-repeat: repeat-y, no-repeat;
    background-color: #131313 !important;
}



/********** Heading Color **********/
.brand.site_name {
    color: #cccccc !important;
    text-shadow: 0 0px !important;
}
.donor {
    color: #28afbe;
    text-shadow: 0 0px;
}
.site-brand a:hover {
    color: #28afbe !important;
}
.brand:hover {
    color: #28afbe !important;
}


/********** Top Navigation Bar **********/
.site-top-nav {
    background: rgba(0, 0, 0, 0.6) !important;
    border: none !important;
    box-shadow: none !important;
}
.site-top-nav.navbar-inner li a {
    color: #cccccc;
}
.navbar .site-top-nav .nav > li > a:focus, .navbar .site-top-nav .nav > li > a:hover {
    background: none;
    color: #28afbe;
    box-shadow: none;
    text-decoration: underline;
}
.navbar .site-top-nav .nav li.active a {
    background: none;
    border-radius: 0;
    box-shadow: none;
    color: #28afbe;
    text-decoration: none;
}
.navbar .site-top-nav .nav li.active a:hover {
    background: none;
    color: #28afbe;
    text-decoration: underline;
}




/********** Breadcrumbs Styling **********/
.site_breadcrumbs ul.breadcrumb, .site_breadcrumbs ol.breadcrumb {
    background: rgba(0, 0, 0, 0);
}
.breadcrumb a {
    color: #b1b1b1;
    border: none;
}



/********** Main Content Background **********/
.light_shadow_far {
    background: none!important;
}
.content-container {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.65) !important;
    color: #b1b1b1;
}



/********** Content Headings & Links Color Fix **********/
.content-container h1, h2, h3, h4, h5, h6 {
    color: #b1b1b1;
}
.content-container a {
    color: #28afbe;
    border: none;
}



/********** Image Shadows **********/
.content-container img {
    box-shadow: 6px 7px 5px #000000;
    margin-bottom: 12px;
}



/********** Footer Background **********/
.transparent_box_light {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.65) !important;
    color: #b1b1b1;
}



/********** Contact Info Link Color **********/
.contact_information a {
    color: #28afbe;
    border: none;
}



/********** Side Navigation Colors **********/
.dept_leftnav a {
    color: #b1b1b1 !important;
}
.dept_leftnav a:hover {
    color: #28afbe !important;
}



/********** Gallerific Height Fix **********/
#image_gallery_container #slideshow img {
    height: 480px;
    width: initial !important;
    max-width: none;
}
/*.above_block {
    margin-left: -185px;
}*/


/********** Below Footer Links Stylization **********/
/*.um_standard_footer li {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.65) !important;
    color: #b1b1b1;
    border: none;
}
.um_standard_footer ul a {
    color: #b1b1b1;
    border: none;
}
.um_standard_footer ul a:hover {
    color: #28afbe;
    border: none;
}*/

